In [3]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [4]:
df = pd.read_csv("Penjualan Mobil.csv")
df

,Nota,Merk Mobil,QTY Pembelian,Stock,Harga Jual,Tanggal Penjualan,Total Penjualan
0,1,Innova,20,5,Rp 321.100.000,2-Apr-20,Rp 321.100.000
1,2,Vellfire,16,3,Rp 1.216.950.000,3-Apr-20,Rp 1.216.950.000
2,3,Voxy,9,7,Rp 506.750.000,4-Apr-20,Rp 506.750.000
3,4,Sienta,30,20,Rp 257.900.000,5-Apr-20,Rp 257.900.000
4,5,Alphard,20,10,Rp 1.218.950.000,6-Apr-20,Rp 1.218.950.000
5,6,Calya,30,19,Rp 141.475.000,7-Apr-20,Rp 141.475.000
6,7,Avanza,50,30,Rp 186.250.000,8-Apr-20,Rp 186.250.000
7,8,Raize,5,2,Rp 228.400.000,9-Apr-20,Rp 228.400.000
8,9,Rush,20,8,Rp 244.130.000,10-Apr-20,Rp 244.130.000
9,10,Corolla Cross,3,1,Rp 458.510.000,11-Apr-20,Rp 458.510.000
10,11,Land Cruiser,15,9,Rp 2.122.574.000,12-Apr-20,Rp 2.122.574.000
11,12,Yaris,20,7,Rp 247.800.000,13-Apr-20,Rp 247.800.000
12,13,Agya,20,10,Rp 136.900.000,14-Apr-20,Rp 136.900.000
13,14,Vios,6,3,Rp 265.400.000,15-Apr-20,Rp 265.400.000
14,15,Camry,13,8,Rp 644.250.000,16-Apr-20,Rp 644.250.000
15,16,Altis,2,2,Rp 487.800.000,17-Apr-20,Rp 487.800.000
16,17,C-HR,20,6,Rp 509.800.000,18-Apr-20,Rp 509.800.000
17,18,Fortuner 4x2,8,4,Rp 483.600.000,19-Apr-20,Rp 483.600.000
18,19,Fortuner 4x4,8,5,Rp 605.800.000,20-Apr-20,Rp 605.800.000
19,20,Xpander,12,8,Rp 214.700.000,21-Apr-20,Rp 214.700.000
20,21,Xpander Cross,12,7,Rp 268.000.000,22-Apr-20,Rp 268.000.000
21,22,Pajero Sport,15,6,Rp 502.800.000,23-Apr-20,Rp 502.800.000
22,23,Outlander,4,2,Rp 890.000.000,24-Apr-20,Rp 890.000.000
23,24,Triton,2,2,Rp 370.650.000,25-Apr-20,Rp 370.650.000
24,25,Eclipse Cross,3,2,Rp 488.750.000,26-Apr-20,Rp 488.750.000
25,26,Brio,30,25,Rp 151.400.000,27-Apr-20,Rp 151.400.000
26,27,Mobilio,20,18,Rp 203.300.000,28-Apr-20,Rp 203.300.000
27,28,BR-V,20,17,Rp 247.300.000,29-Apr-20,Rp 247.300.000
28,29,Jazz,50,34,Rp 256.500.000,30-Apr-20,Rp 256.500.000
29,30,HR-V,33,23,Rp 296.600.000,1-Jun-21,Rp 296.600.000
30,31,Civic,27,19,Rp 512.800.000,2-Jun-21,Rp 512.800.000
31,32,Odyssey,4,2,Rp 888.000.000,3-Jun-21,Rp 888.000.000
32,33,City,4,3,Rp 299.000.000,4-Jun-21,Rp 299.000.000